body {
  background-color: rgb(23, 114, 121);
 color: rgb(11, 10, 10);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 50px;
}

h1 {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
 
}


ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

ul, li, a:link {
  text-decoration: none;
  list-style: none;
}
a:hover {
  background-color: rgb(23, 114, 121);
}

p {
text-align: left;

}

img {
height: 200px;
width: 200px;
}

a {
  color: black;
}


.navbar {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 30px;
  padding-right: 30px;
  border-style: inset;
  border-radius: 5px;


}


